@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #0f1723;
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin: 1%;
}
.logo {
  width: 100%;
  max-width: 407px;
  max-hight: 98px;
}
.linebreak{
  border-bottom: 3px solid var(--color);
}
.home{
  --color:#705a8f;
}

.assess{
  --color:#d38e00;
}

.game{
  --color:#286fa0;
}

.essentials{
  --color:#15878a;
}

.elite{
  --color:#c04b4e;
}

.more{
  --color:#705a8f;
}
a.spoiler{
  background-color: #000000;
  color: #000000;
}
a.assess-hints{
  padding-left: 5vw;
}
a.placeholder{
  text-align: center;
  font-size: 1em;
}
a.announcement {
  font-size: 2.5em;
}
.card {
  height: 6vh;
  max-height: 6vh;
  font-size: 0px;
}
.card > a.card-content {
  height: 100%;
  font-size: calc(0.5vw + 10px);
  display: inline-block;
  padding-left: 5vw;
  padding-top: 2vh;
}
.card > a > img {
  width: 6vh;
  height: 100%;
  float: right;
  vertical-align: middle;
}
#header {
  text-align: center;
  font-size: 2em;
}
#header > p.tagline {
  z-index: 1;
  padding-top: -50px;
}

    #menu,
#menu ul,
#menu ul li,
#menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#menu {
  width: auto;
  border-bottom: 3px solid var(--color);
  font-family: 'Roboto Mono', monospace;
  line-height: 1;
}

#menu > ul > li {
  float: left;
}

#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#menu.align-right > ul > li {
  float: right;
}

#menu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}

#menu > ul > li > a {
  font-size: 90%;
  z-index: 2;
  padding: 18px 1vw 12px 1vw;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#menu > ul > li.active > a,
#menu > ul > li:hover > a,
#menu > ul > li > a:hover {
  color: #ffffff;
}

#menu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

#menu > ul > li.active > a:after,
#menu > ul > li:hover > a:after,
#menu > ul > li > a:hover:after {
  background: var(--color);
}
a.subtitle {
  font-size: 2.5em;
}
a.content {
  font-size: 1em;
}
a.hovered:after{
  position: absolute;
  left: 0;  
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
  background: var(--color);
}